# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

SQLiteDB2/*.iml
SQLiteDB2/.gradle
SQLiteDB2/local.properties
SQLiteDB2/.idea/workspace.xml
SQLiteDB2/.idea/libraries
SQLiteDB2/.DS_Store
SQLiteDB2/build
SQLiteDB2/captures
SQLiteDB2/.idea/
SQLiteDB2/.gitignore
